<% provide(:breadcrumb, "Главная / Разместить заказ") %>
<div class="new_order_container">
	<div class="new_order1">
		<div class="row">
			<div class="col-md-12">
				<div class="info">Для размещения заказа свяжитесь с менеджером по телефону: (812) 648-50-95.</div>
				<div class="info">Будем рады Вашему звонку ежедневно с 10 до 18.30.</div>
				<div class="info">Если Вы хотите разместить заказ по проектированию, производству и поставке геотекстиля, георешетки, геосетки, геоматов, габионов и прочей нашей продукции прямо сейчас и/или у Вас имеется Техническое задание или прочая документация, необходимая для того, чтобы наши специалисты подготовили для Вас техническое и коммерческое предложение, то просим отправить в наш адрес соответствующий запрос.</div>
			</div>
		</div>
		<div class="zakaz_title">РАЗМЕСТИТЬ ЗАКАЗ ОНЛАЙН</div>
	</div>
	<div class="new_order2">
			<%= simple_form_for(@order) do |f| %>
			<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<div class="order_head">ПРЕДСТАВИТЕЛЬ ЗАКАЗЧИКА:</div>
                  <%= f.input :fio, label: false, placeholder: 'ФИО*' %>
                  <%= f.input :position, label: false, placeholder: 'Должность' %>
                  <%= f.input :phone, label: false, placeholder: 'Телефон*' %> 
                  <%= f.input :email, label: false, placeholder: 'E-mail' %>
                <div class="order_head">ОРГАНИЗАЦИЯ ЗАКАЗЧИКА:</div>
                  <%= f.input :org_inn, label: false, placeholder: 'ИНН*' %>
                  <%= f.input :org_name, label: false, placeholder: 'Наименование*' %>
                  <%= f.input :org_phone, label: false, placeholder: 'Телефон*' %>
                  <%= f.input :org_site, label: false, placeholder: 'Веб-сайт' %>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<%= f.input :interest, label: false, placeholder: 'Что заинтересовало?' %>
				<%= f.input :supply_date, label: false, placeholder: 'Планируемый срок поставки' %>
				<%= f.input :supply_city, label: false, placeholder: 'Город*' %>
				<%= f.input :supply_address, label: false, placeholder: 'Адрес поставки' %>
				<%= f.input :comment, label: false, placeholder: 'Комментарий' %>
				<div class="form-group">
                  	<%= f.submit "Отправить", class: "btn btn-primary"%>
                  </div>
			</div>
		</div>
			<% end %>
	</div>
	<div class="new_order3">
		<div class="row">
			<div class="col-md-12">
				<div class="info">Мы гарантируем конфиденциальность данных. Остатки на складах и сроки поставки - уточняйте у менеджера.</div>
			</div>
		</div>
	</div>
</div>