<div class="form-group">
  <%= link_to "Список страниц", pages_path, class: "btn btn-default" %>
</div>
<div class="form-cont">
	<%= simple_form_for(@page, html: { class: 'form-horizontal' }) do |f| %>
	  <%= f.input :title %>
	  <%= f.input :keywords %>
	  <%= f.input :description %>
	  <%= f.input :url %>
	  <%= f.input :h1 %>
	  <%= f.input :content %>
	  <%= f.input :menu_title %>
	  <%= f.input :menu_order %>
	  <div class="form-group">
	    <%= f.button :submit, value: "Сохранить", class: "btn btn-primary" %>
	  </div>
	<% end %>
</div>