<% provide(:breadcrumb, "Главная / О компании") %>
<div class="about1">
	<div class="sub1">
		<div class="row">
			<div class="col-md-3">
				<div class="about1-img">
					<%= image_tag 'alieva2.jpg', class: 'img-responsive' %>
				</div>
			</div>
			<div class="col-md-9">
				<div class="about1-text">
					<div class="about1-text-title">Мы рады перспективе сотрудничества с Вашей компанией!</div>
					<div class="about1-text-info">Повышение качества дорог России требует применения в дорожном строительстве материалов с высокими эксплутационными характеристиками. Мы предлагаем Вам современные решения армирования асфальтобетонных покрытий, строительства подъездных путей, временных дорог, площадок под высокие нагрузки, противоэрозийные системы, а так же экологичный альтернативный вариант устройства парковочных площадок.</div>
					<div class="about1-text-cont">НАШИ КОНТАКТЫ:</div>
					<div class="about1-text-tel">+7(812) 648-50-95 <br/>info@baltgeokom.ru</div>
					<div class="about1-text-signature">Успеха и процветания Вашей компании!</div>
					<div class="about1-text-signature2">Алиева Оксана Юрьевна  генеральный директор ООО «БГК»</div>
				</div>
			</div>
		</div>
		<div class="border"></div>
	</div>
	<div class="sub2">
		<div class="row">
			<div class="col-md-5">
				<div class="about1-flag">
					<div class="about1-flag-img">
						<%= image_tag 'flag1.png' %> 
					</div>
					<div class="about1-flag-text">
						Помощь в расчете укрепления слабых оснований;
					</div>
				</div>
				<div class="about1-flag">
					<div class="about1-flag-img">
						<%= image_tag 'flag2.png' %> 
					</div>
					<div class="about1-flag-text">
						Комплексные поставки наших материалов на основании произведенных расчетов;
					</div>
				</div>
				<div class="about1-flag">
					<div class="about1-flag-img">
						<%= image_tag 'flag3.png' %> 
					</div>
					<div class="about1-flag-text">
						Оптимальные сроки поставок <br/> и оплат;
					</div>
				</div>
				<div class="about1-flag">
					<div class="about1-flag-img">
						<%= image_tag 'flag4.png' %> 
					</div>
					<div class="about1-flag-text">
						Консультации по укладке геосинтетических материалов на объектах.
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="paragraf">
					  С 2010 года инновации компании <span class="baltgeokom">БАЛТГЕОКОМ</span> применяются в дорожном строительстве и день за днем обеспечивают комфорт миллионов людей и машин, невидимые укротители земной стихии, геосинтетики -  надежно несут свою службу.
				</div>
				<div class="paragraf">
					<span class="baltgeokom">БАЛТГЕОКОМ</span> реализует в тесном сотрудничестве с партнерами мировые передовые технологии, доступные в нашей стране уже сегодня. В течение более 15 лет мы работаем для вашего удобства, методично улучшая качество дорог в Северной столице и за ее пределами. За это время значительно возросли объемы производства, стала очевидна и хорошая экономическая перспектива. Растущий спрос на качество - главный критерий успеха нашей компании.
				</div>
			</div>
		</div>
	</div>
	<div class="nav_stripe"></div>
</div>
<div class="about2">
	Наши приемущества
</div>
<div class="about3">
	Собственное производитсво
</div>
<div class="about4">
	Сертифицированная продукция
</div>
<div class="about5">
	Квалифицированные специалисты
</div>
<div class="about6">
	Условия сотрудничества
</div>




