<% provide(:breadcrumb, "Главная / О компании") %>
<%= render 'shared/modal_zakaz_zvonok' %>
<div class="about1">
	<div class="sub1">
		<div class="row">
			<div class="col-md-3">
				<div class="about1-img">
					<%= image_tag 'alieva2.jpg', class: 'img-responsive' %>
				</div>
			</div>
			<div class="col-md-9">
				<div class="about1-text">
					<div class="about1-text-title">Мы рады перспективе сотрудничества с Вашей компанией!</div>
					<div class="about1-text-info">Повышение качества дорог России требует применения в дорожном строительстве материалов с высокими эксплутационными характеристиками. Мы предлагаем Вам современные решения армирования асфальтобетонных покрытий, строительства подъездных путей, временных дорог, площадок под высокие нагрузки, противоэрозийные системы, а так же экологичный альтернативный вариант устройства парковочных площадок.</div>
					<div class="about1-text-cont">НАШИ КОНТАКТЫ:</div>
					<div class="about1-text-tel">+7(812) 648-50-95 <br/>info@baltgeokom.ru</div>
					<div class="about1-text-signature">Успеха и процветания Вашей компании!</div>
					<div class="about1-text-signature2">Алиева Оксана Юрьевна  генеральный директор ООО «БГК»</div>
				</div>
			</div>
		</div>
		<div class="border"></div>
	</div>
	<div class="sub2">
		<div class="row">
			<div class="col-md-5">
				<div class="about1-flag">
					<div class="about1-flag-img">
						<%= image_tag 'flag1.png' %> 
					</div>
					<div class="about1-flag-text">
						Помощь в расчете укрепления слабых оснований;
					</div>
				</div>
				<div class="about1-flag">
					<div class="about1-flag-img">
						<%= image_tag 'flag2.png', class: "about1-flag-margin"%> 
					</div>
					<div class="about1-flag-text">
						Комплексные поставки наших материалов на основании произведенных расчетов;
					</div>
				</div>
				<div class="about1-flag">
					<div class="about1-flag-img">
						<%= image_tag 'flag3.png', class: "about1-flag-margin"%> 
					</div>
					<div class="about1-flag-text">
						Оптимальные сроки поставок <br/> и оплат;
					</div>
				</div>
				<div class="about1-flag">
					<div class="about1-flag-img">
						<%= image_tag 'flag4.png' %> 
					</div>
					<div class="about1-flag-text">
						Консультации по укладке геосинтетических материалов на объектах.
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="paragraf">
					  С 2010 года инновации компании <span class="baltgeokom">БАЛТГЕОКОМ</span> применяются в дорожном строительстве и день за днем обеспечивают комфорт миллионов людей и машин, невидимые укротители земной стихии, геосинтетики -  надежно несут свою службу.
				</div>
				<div class="paragraf">
					<span class="baltgeokom">БАЛТГЕОКОМ</span> реализует в тесном сотрудничестве с партнерами мировые передовые технологии, доступные в нашей стране уже сегодня. В течение более 15 лет мы работаем для вашего удобства, методично улучшая качество дорог в Северной столице и за ее пределами. За это время значительно возросли объемы производства, стала очевидна и хорошая экономическая перспектива. Растущий спрос на качество - главный критерий успеха нашей компании.
				</div>
			</div>
		</div>
	</div>
	<div class="nav_stripe"></div>
</div>
<div class="about2">
	<div class="bgk_title">
		НАШИ ПРЕИМУЩЕСТВА
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="about2-img1"><%=image_tag 'ab2-proizv.png' %></div>
			<div class="about2-img_title">
				Собственное<br/>
				производство
			</div>
		</div>
		<div class="col-md-3">
			<div class="about2-img2"><%=image_tag 'ab2-sert_prod.png' %></div>
			<div class="about2-img_title">
				Сертифицированная<br/>
				продукция
			</div>
		</div>
		<div class="col-md-3">
			<div class="about2-img3"><%=image_tag 'ab2-kval_spec.png' %></div>
			<div class="about2-img_title">
				Квалифицированные<br/>
				специалисты
			</div>
		</div>
		<div class="col-md-3">
			<div class="about2-img4"><%=image_tag 'ab2-gar25.png' %></div>
			<div class="about2-img_title">
				Гарантия<br/>
				25 лет
			</div>
		</div>
	</div>
</div>
<div class="about3">
	<div class="bgk_title">
		СОБСТВЕННОЕ ПРОИЗВОДСТВО
	</div>
	<div class="paragraf">
		Производство фирменной линейки геосинтетических материалов <span class="baltgeokom">БАЛТГЕОКОМ</span> осуществляется на заводах Санкт-Петербурга. Производства оснащены импортным,  автоматизированным  оборудованием, технологическими линиями с программным управлением, что позволяет производить геосинтетики, соответствующие европейским стандартам качества.  Геосинтетические материалы, производимые компанией <span class="baltgeokom">БАЛТГЕОКОМ</span>, прошли необходимые экспертизы и имеют прочную нормативную базу, что подтверждают сертификаты и отзывы наших партнеров.  
	</div>
	<div class="about3-img">
		<%= image_tag 'ab3.jpg', class: "image-responsive" %>
	</div>
</div>
<div class="about4">
	<div class="bgk_title">
		СЕРТИФИЦИРОВАННАЯ ПРОДУКЦИЯ
	</div>
	<div class="paragraf">
		Для экономической оптимизации бюджета строительства ваших объектов,  мы предлагаем геотекстиль, дорнит, и другие геотканные материалы, в составе которых  львиная доля российского сырья,  тем самым обеспечивая полное и успешное импортозамещение. При этом важные показатели отечественных геосинтеиков <span class="baltgeokom">БАЛТГЕОКОМ</span>, такие как, плотность на разрыв намного выше, чем у импортных аналогов в той же ценовой категории. 
	</div>
	<div class="paragraf">
		Многообразие решений для основания дорожной одежды позволил прочно занять компании <span class="baltgeokom">БАЛТГЕОКОМ</span> свою нишу в дорожно-строительном сегменте, как поставщика и производителя геосинтетиков. 
	</div>
	<div class="paragraf">
		Иглопробивные и термоскрепленные геотекстильные полотна, высокопрочную ткань из полиэфира и полипропилена, объемную георешетку, геосетки полиэфирные в том числе композитные для грунта, полиэфирные композитные для асфальта, стеклосетку, базальтовую сетку, георешетку полипропиленовую, геоматы, дренажные композиты, коробчатые, матрасо-тюфячные габионы, газонную решетку, анкера.  
	</div>
	<div class="about4-iso_rst">
		<%= image_tag "ab4-iso_rst.png" %>
	</div>
</div>
<div class="about5">
	<div class="bgk_title">Квалифицированные специалисты</div>
	<div class="paragraf">
		Команда профессионалов ООО «БГК» всегда готова оказать квалифицированную техническую поддержку. Вы можете доверить специалистам БГК любые задачи по комплектации, модернизации, доработке и поставке продукции для решения ваших потребностей. Вы можете рассчитывать на индивидуальный подход к производственным нуждам и сервис европейского уровня. Специалисты <span class="baltgeokom">БАЛТГЕОКОМ</span> обладают знаниями основ инженерной геологии и механики грунтов, свойств и механизмов работы геосинтетических материалов и особенностей их применения в различных сооружениях 
	</div>
	<div class="paragraf">
		Индивидуальный подход к текущим производствам работ  на объекте Заказчика, своевременные поставки, полное информирование клиента о свойствах, условиях и сроках  хранения материала на объекте – выгодно отличает сервис компании <span class="baltgeokom">БАЛТГЕОКОМ</span>.  
	</div>
</div>
<div class="about6">
	<div class="row">
		<div class="col-md-9">
			<div class="about6-info">Вы можете заказать звонок в удобное для Вас время.</div>
		</div>
		<div class="col-md-3">
			<div class="about6-zakaz">
				<!-- Button trigger modal -->
				<%= image_tag("zakaz_zvonok.png", type: "button", class: "img-responsive zakaz-zvonok-btn", "data-toggle" => "modal", "data-target" => "#zakazZvonok", alt: "заказать звонок") %>
			</div>
		</div>
	</div>
</div>
<div class="nav_stripe"></div>
<div class="about7">
	<div class="bgk_title">Условия сотрудничества</div>
	<div class="paragraf">
		Наивысшая ценность компании <span class="baltgeokom">БАЛТГЕОКОМ</span> это репутация, и чтобы оставаться стабильными поставщиками и производителями в своем сегменте мы предлагаем условия и цены, позволяющие иметь под ногами твердую почву, как нам, так и нашим клиентам. 
	</div>
	<div class="about7-list">
		<ul>
			<li>Цены производителя</li>
			<li>Точные сроки поставки</li>
			<li>Решения с учетом дорожно-климатических зон</li>
			<li>Решения с учетом грунтово-гидрологических условий</li>
			<li>Снижение расходов при эксплуатации и строительстве дорог</li>
			<li>Европейское качество</li>
			<li>Индивидуальный сервис</li>
			<li>Опыт более 15 лет</li>
			<li>Предоплатная система отгрузок</li>
			<li>Гибкая система скидок</li>
			<li>ГАРАНТИЯ НА МАТЕРИАЛ – 25 лет!</li>
		</ul>
	</div>
	<div class="paragraf">
		Широкие возможности геосинтетических материалов компании <span class="baltgeokom">БАЛТГЕОКОМ</span>  предоставляют архитекторам, проектировщикам, строителям, инженерам строить качественные дороги, что обеспечивает более высокий уровень жизни для россиян.
	</div>
	<div class="paragraf">
		Наше предприятие всегда готово рассмотреть и предложить взаимовыгодные варианты сотрудничества в сфере технического обоснования применения геосинтетических материалов, консультации по их выбору, выполнение расчетов и поставку наших материалов, ориентируясь на длительные партнерские отношения.
	</div> 
</div>




