<% provide(:breadcrumb, "Админка") %>
<h2>Админка</h2>
<ol>
	<li><%= link_to "Список страниц", pages_path %></li>
	<li><%= link_to "Создать новую страницу", new_page_path %></li>
	<li><%= link_to "Список категорий", categories_path %></li>
	<li><%= link_to "Создать новую категорию", new_category_path %></li>
	<li><%= link_to "Список товаров", products_index_adm_path %></li>
	<li><%= link_to "Создать новый товар", new_product_path %></li>
	<li><%= link_to "Заказы и Обратная связь", "/orders_list" %></li>
</ol>