<% provide(:breadcrumb, "Админка / Редактирование страницы") %>
<h2>Редактирование страницы</h2>
<div class="form-group">
	<a class="btn btn-default" href="/admin">В админку</a>
	<%= link_to "Список страниц", pages_path, class: "btn btn-default" %>
	<%= link_to "Просмотр", custom_url_path(@page), class: "btn btn-default" %>
</div>
<div class="form-cont">
	<%= simple_form_for(@page) do |f| %>
	  <%= f.input :title %>
	  <%= f.input :keywords %>
	  <%= f.input :description %>
	  <%= f.input :url, disabled: true %>
	  <%= f.input :code, disabled: true %>
	  <%= f.input :h1 %>
	  <%= f.input :content, :input_html => {:rows => 20 } %>
	  <%= render 'edit_pageimgs', f: f %>
	  <div class="form-group">
	    <%= f.button :submit, value: "Сохранить", class: "btn btn-primary" %>
	  </div>
	<% end %>
</div>