<h2>Список страниц</h2>
<div class = "header-button">
  <%= link_to "Создать", new_page_path, class: "btn btn-primary" %>
</div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Операции</th>
        <th>Заголовок</th>
        <th>Описание</th>
        <th>Дата добавления</th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td>
            <%= link_to "Редактировать", edit_page_path(page), class: "btn-sm btn-primary" %>
            <%= link_to "Просмотр", page.url, class: "btn-sm btn-default" %>
            <%= link_to "Удалить", '#', class: "btn-sm btn-danger" %>
          </td>
          <td><%= link_to page.title, '#' %></td>
          <td><%= page.description %></td>
          <td><%= page.created_at %></td>
        </tr>
      <% end %>
    </tbody>
</table>