<% provide(:breadcrumb, "Главная") %>
<%= render 'shared/modal_zakaz_zvonok' %>
<div class="homepage1">
	<div class="row">
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("152.png", class: "img-responsive" ) %>
				<div style="height: 40px; padding-top: 10px;">
					<%= product_code_link "Геотекстиль", "geotekstil" %>
				</div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("144.png", class: "img-responsive" ) %>
				<div>
					<%= product_code_link "Объемная решетка", "obem_reshetka" %>
				</div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("145.png", class: "img-responsive" ) %>
				<div>
					<%= product_code_link "Геосетки ПЭТ для грунта", "geosetka_pet_grunt" %>
				</div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("146.png", class: "img-responsive" ) %>
				<div>
					<%= product_code_link "Геосетки ПЭТ для асфальта", "geosetka_pet_asfalt" %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("123.png", class: "img-responsive" ) %>
				<div>
					<%= product_code_link "Геоткань", "geotkan" %>
				</div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("124.png", class: "img-responsive" ) %>
				<div>
					<%= product_code_link "Геосетка полипропиленовая СД", "geosetka_polipropelen" %>
				</div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("101.png", class: "img-responsive" ) %>
				<div>
					<%= product_code_link "Геосетка противоэрозийная ЗД", "geosetka_protivoerr" %>
				</div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("100.png", class: "img-responsive" ) %>
				<div>
					<%= product_code_link "Стеклосетка", "steklosetka" %>
					</div>
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("102.png", class: "img-responsive" ) %>
				<div><%= product_code_link "Геосетки композитные", "geosetka_composit" %>
					</div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("153.png", class: "img-responsive" ) %>
				<div><%= product_code_link "Геодренаж", "geodrenazh" %>
					</div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("147.png", class: "img-responsive" ) %>
				<div><%= product_code_link "Геомат", "geomat" %>
					</div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("127.png", class: "img-responsive" ) %>
				<div><%= product_code_link "Геосетка базальтовая", "geosetka_basalt" %>
					</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("148.png", class: "img-responsive" ) %>
				<div><%= product_code_link "Габионы", "gabion" %>
					</div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("149.png", class: "img-responsive" ) %>
				<div><%= product_code_link "Газонная решетка", "gazon_reshetka" %>
					</div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("150.png", class: "img-responsive" ) %>
				<div><%= product_code_link "Геомембраны", "geomembrana" %>
					</div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="homepage1-catalog">
				<%= image_tag("151.png", class: "img-responsive" ) %>
				<div><%= product_code_link "Анкер", "anker" %>
					</div>
			</div>
		</div>
		
	</div>
</div>
<div class="homepage2">
	<h2>УСЛОВИЯ СОТРУДНИЧЕСТВА</h2>
	<div class="row">
		<div class="col-md-4">
			<div class="homepage2-img">
				<%= image_tag("UslSortProektText.png", class: "img-responsive", alt: "проектировщикам") %>
			</div>
			<div class="podrobnee"><a href="#">подробнее...</a></div>
		</div>
		<div class="col-md-4">
			<div class="homepage2-img">
				<%= image_tag("UslSortStroiText.png", class: "img-responsive", alt: "строителям") %>
			</div>
			<div class="podrobnee"><a href="#">подробнее...</a></div>
		</div>	
		<div class="col-md-4">
			<div class="homepage2-img">
				<%= image_tag("UslSortBuyerText.png", class: "img-responsive", alt: "покупателям") %>
			</div>
			<div class="podrobnee"><a href="#">подробнее...</a></div>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class="homepage2-info">Компания <span class="baltgeokom">«БалтГеоКом»</span> предлагает особые условия сотрудничества профессионалам строительного рынка. Мы готовы к обсуждению индивидуальных условиях при заказе от 100 000 м2. А частных покупателей приглашаем посетить наш интернет магазин. Скидки на покупку от 5 000 м2!</div>
		</div>
		<div class="col-md-3">
			<div class="homepage2-zakaz">
				<!-- Button trigger modal -->
				<%= image_tag("zakaz_zvonok.png", type: "button", class: "img-responsive zakaz-zvonok-btn", "data-toggle" => "modal", "data-target" => "#zakazZvonok", alt: "заказать звонок") %>
			</div>
		</div>
	</div>
</div>
<div class="homepage3">
	<div class="row">
		<div class="col-md-12 homepage3-container">
			<div class="homepage3-img">
				<%= image_tag("pokupka_fon3.jpg", class: "img-responsive", alt: "Покупка") %>
			</div>
		</div>	
	</div>
</div>
<div class="homepage4">
	<div class="row">
		<div class="col-md-12">
			<div class="homepage4-info">Компания <span class="baltgeokom">«БалтГеоКом»</span> занимается поставками геосинтетических материалов в Санкт-Петербурге, а также по всей России. Многолетние эффективные связи с ведущими отечественными и зарубежными производителями позволяют предложить Вам не только привлекательные цены, но и широчайший ассортимент продукции, в число которого входит:
			</div>
		</div>
	</div>
	<div class="row homepage4-lists">
		<div class="col-md-3">
			<div class="homepage4-list1">
				<ul>
					<li>геотекстиль</li>
					<li>геотубы</li>
					<li>геоматы</li>
					<li>геокомпозиты</li>
					<li>геодрены</li>
					<li>геооболочки для свай</li>
					<li>геомембрана</li>
				</ul>
			</div>
		</div>
		<div class="col-md-9">
			<div class="homepage4-list1">
				<ul>
					<li>газонная решетка</li>
					<li>объемная георешетка</li>
					<li>бентонитовые маты</li>
					<li>сетки</li>
					<li>габионы</li>
					<li>анкера</li>
					<li>и многое другое</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="homepage4-info">Вся продукция сопровождается сертификатами качества и соответствия.</div>
			<div class="homepage4-info">Наша компания имеет собственные склады в Санкт-Петербурге и Москве, что позволяет нам держать постоянные запасы продукции. В кротчайшие сроки мы доставим необходимый вам материал в любую точку Российской Федерации.</div>
			<div class="homepage4-info">Ключевой фактор нашей работы – индивидуальный подход к каждому клиенту, максимально демократичные цены, скорость обработки и отгрузки заказов.</div>
			<div class="homepage4-info">Если вы ищете, где купить геосинтетику – вы пришли по адресу.</div>
			<div class="homepage4-info"><span class="baltgeokom">Звоните нам по телефону (812) 648-50-95</span>. Наши высококвалифицированные менеджеры подберут индивидуальные условия для долгосрочного и взаимовыгодного сотрудничества.</div>
			<div class="homepage4-info">Работая с нами, вы приобретаете надежного и внимательного к вашим потребностям поставщика.</div>
		</div>
	</div>
</div>
