<% provide(:breadcrumb, "Главная / Каталог") %>
<div class="homepage1">
	<div class="row">
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("152.png", class: "img-responsive" ) %>
				<div>Геотекстиль</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("144.png", class: "img-responsive" ) %>
				<div>Объемная решетка</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("145.png", class: "img-responsive" ) %>
				<div>Геосетки ПЭТ для грунта</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("146.png", class: "img-responsive" ) %>
				<div>Геосетки ПЭТ для асфальта</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("123.png", class: "img-responsive" ) %>
				<div>Геоткань</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("124.png", class: "img-responsive" ) %>
				<div>Геосетка полипропиленовая СД</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("101.png", class: "img-responsive" ) %>
				<div>Геосетка противоэрозийная ЗД</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("100.png", class: "img-responsive" ) %>
				<div>Стеклосетка</div>
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("102.png", class: "img-responsive" ) %>
				<div>Геосетки композитные</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("153.png", class: "img-responsive" ) %>
				<div>Геодренаж</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("147.png", class: "img-responsive" ) %>
				<div>Геомат</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("127.png", class: "img-responsive" ) %>
				<div>Геосетка базальтовая</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("148.png", class: "img-responsive" ) %>
				<div>Габионы</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("149.png", class: "img-responsive" ) %>
				<div>Газонная решетка</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("150.png", class: "img-responsive" ) %>
				<div>Геомембраны</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="homepage1-catalog">
				<%= image_tag("151.png", class: "img-responsive" ) %>
				<div>Анкер</div>
			</div>
		</div>
		
	</div>
</div>
<div class="homepage2">
	<h2>УСЛОВИЯ СОТРУДНИЧЕСТВА</h2>
	<div class="row">
		<div class="col-md-4">
			<div class="homepage2-img">
				<%= image_tag("UslSortProektText.png", class: "img-responsive", alt: "проектировщикам") %>
			</div>
		</div>
		<div class="col-md-4">
			<div class="homepage2-img">
				<%= image_tag("UslSortStroiText.png", class: "img-responsive", alt: "строителям") %>
			</div>
		</div>	
		<div class="col-md-4">
			<div class="homepage2-img">
				<%= image_tag("UslSortBuyerText.png", class: "img-responsive", alt: "покупателям") %>
			</div>
		</div>	
	</div>
</div>
