<% provide(:breadcrumb, "Админка / Заказы") %>
<h2>Заказы и Обратная связь</h2>
	<div class="form-group">
		<a class="btn btn-default" href="/admin">В админку</a>
	</div>
	<div class="bs-callout bs-callout-info" id="callout-alerts-no-default"> 
		<h4>Подсказка</h4> 
		<p>Id в строках таблицы - это ссылки, кликните для просмотра подробной информации по заказу.</p>
	</div>
	<h3>Заказы из каталога</h3>
	<table class="table table-condensed" style="table-layout : fixed" width="100%">
	  <thead>
	    <tr>
	    <th width="7%">Id</th>
	      <th width="13%">Дата создания</th>
	      <th width="20%">Имя</th>
	      <th width="20%">Телефон</th>
	      <th width="20%">Email</th>
	      <th width="20%">Компания</th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @porders.each do |order| %>
	    <tr>
	      <td><%= link_to order.id, order %></td>
	      <td><%= order.created_at.strftime('%d.%m.%Y %T')  %></td>
	      <td><%= order.person_name %></td>
	      <td><%= order.phone %></td>
	      <td><%= order.email %></td>
	      <td><%= order.company_name %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
	<h3>Заказы без каталога</h3>
	<table class="table table-condensed" style="table-layout : fixed" width="100%">
	  <thead>
	    <tr>
	    <th width="7%">Id</th>
	      <th width="13%">Дата создания</th>
	      <th width="20%">Имя</th>
	      <th width="20%">Телефон</th>
	      <th width="20%">Интерес</th>
	      <th width="20%">Компания</th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @orders.each do |order| %>
	    <tr>
	    	<td><%= order.id %></td>
	      <td><%= order.created_at.strftime('%d.%m.%Y %T')  %></td>
	      <td><%= order.fio %></td>
	      <td><%= order.phone %></td>
	      <td><%= order.interest %></td>
	      <td><%= order.org_name %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
	<h3>Обратные звонки</h3>
	<table class="table table-condensed" style="table-layout : fixed" width="100%">
	  <thead>
	    <tr>
	    <th width="7%">Id</th>
	      <th width="13%">Дата создания</th>
	      <th width="20%">Имя</th>
	      <th width="20%">Телефон</th>
	      <th width="20%">Время звонка</th>
	      <th width="20%">Вопрос</th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @order_calls.each do |order| %>
	    <tr>
	    	<td><%= order.id %></td>
	      <td><%= order.created_at.strftime('%d.%m.%Y %T')  %></td>
	      <td><%= order.name %></td>
	      <td><%= order.phone %></td>
	      <td><%= order.time %></td>
	      <td><%= order.question %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>
	<h3>Обратная связь</h3>
	<table class="table table-condensed" style="table-layout : fixed" width="100%">
	  <thead>
	    <tr>
	    <th width="7%">Id</th>
	      <th width="13%">Дата создания</th>
	      <th width="20%">Имя</th>
	      <th width="20%">Телефон</th>
	      <th width="20%">Email</th>
	      <th width="20%">Сообщение</th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @contacts.each do |contact| %>
	    <tr>
	    	<td><%= contact.id %></td>
	      <td><%= contact.created_at.strftime('%d.%m.%Y %T')  %></td>
	      <td><%= contact.name %></td>
	      <td><%= contact.phone %></td>
	      <td><%= contact.email %></td>
	      <td><%= contact.message %></td>
	    </tr>
	  <% end %>
	  </tbody>
	</table>