<% provide(:title, 'Применение') %>
<% provide(:keywords, 'Применение')%>
<% provide(:description, 'Применение') %>
<% provide(:breadcrumb, "Главная / Применение") %>
<div class="primenenie">
  <div class="primenenie_row">
    <h2>ДОРОЖНОЕ СТРОИТЕЛЬСТВО</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_dor_auto.png", class: "img-responsive", alt: "автодорожное строительство") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_dor_zhd.png", class: "img-responsive", alt: "железнодорожное строительство") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>  
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_dor_tunnel.png", class: "img-responsive", alt: "тоннельное строительство") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>  
    </div>
  </div>
  <div class="primenenie_row">
    <h2>ПРОМЫШЛЕННОЕ СТРОИТЕЛЬСТВО</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_prom_port.png", class: "img-responsive", alt: "строительство портов") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_prom_aero.png", class: "img-responsive", alt: "строительство аэродромов") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>  
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_prom_zolootvaly.png", class: "img-responsive", alt: "строительство золоотвалов") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_prom_poligon.png", class: "img-responsive", alt: "строительство полигонов ТБО") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_prom_nk.png", class: "img-responsive", alt: "нетегазовый комплекс") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>  
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_prom_pp.png", class: "img-responsive", alt: "промышленные предприятия") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>  
    </div>
  </div>
  <div class="primenenie_row">
    <h2>ЗАГОРОДНОЕ (ЧАСТНОЕ) СТРОИТЕЛЬСТВО</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_zag_land.png", class: "img-responsive", alt: "ландшафтное строительство") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_zag_dach.png", class: "img-responsive", alt: "дачные участки") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>  
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_zag_vod.png", class: "img-responsive", alt: "искусственные водоемы") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_zag_eco.png", class: "img-responsive", alt: "строительство экопарков") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_zag_el.png", class: "img-responsive", alt: "интернет магазин") %>
        </div>
        <div class="podrobnee"><a href="#">подробнее...</a></div>
      </div>  
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_zag_stroi.png", class: "img-responsive", alt: "строителям") %>
        </div>
        <div class="podrobnee"><a href="#">условия сотрудничества</a></div>
      </div>  
    </div>
  </div>
</div>