<% provide(:title, 'Применение') %>
<% provide(:keywords, 'Применение')%>
<% provide(:description, 'Применение') %>
<% provide(:breadcrumb, "Главная / Применение") %>
<div class="primenenie">
  <div class="primenenie_row">
    <h2>ДОРОЖНОЕ СТРОИТЕЛЬСТВО</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_dor_auto.png", class: "img-responsive", alt: "Автодорожное строительство") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'dor_auto', 'подробнее...' %></div>
      </div>
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_dor_zhd.png", class: "img-responsive", alt: "Железнодорожное строительство") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'dor_zhd', 'подробнее...' %></div>
      </div>  
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_dor_tunnel.png", class: "img-responsive", alt: "Тоннельное строительство") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'dor_tunnel', 'подробнее...' %></div>
      </div>  
    </div>
  </div>
  <div class="primenenie_row">
    <h2>ПРОМЫШЛЕННОЕ СТРОИТЕЛЬСТВО</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_prom_port.png", class: "img-responsive", alt: "Строительство портов") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'prom_port', 'подробнее...' %></div>
      </div>
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_prom_aero.png", class: "img-responsive", alt: "Строительство аэродромов") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'prom_aero', 'подробнее...' %></div>
      </div>  
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_prom_zolootvaly.png", class: "img-responsive", alt: "Строительство золоотвалов") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'prom_zolootvaly', 'подробнее...' %></div>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_prom_poligon.png", class: "img-responsive", alt: "Строительство полигонов ТБО") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'prom_poligon', 'подробнее...' %></div>
      </div>
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_prom_nk.png", class: "img-responsive", alt: "Нетегазовый комплекс") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'prom_nk', 'подробнее...' %></div>
      </div>  
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_prom_pp.png", class: "img-responsive", alt: "Промышленные предприятия") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'prom_pp', 'подробнее...' %></div>
      </div>  
    </div>
  </div>
  <div class="primenenie_row">
    <h2>ЗАГОРОДНОЕ (ЧАСТНОЕ) СТРОИТЕЛЬСТВО</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_zag_land.png", class: "img-responsive", alt: "Ландшафтное строительство") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'zag_land', 'подробнее...' %></div>
      </div>
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_zag_dach.png", class: "img-responsive", alt: "Дачные участки") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'zag_dach', 'подробнее...' %></div>
      </div>  
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_zag_vod.png", class: "img-responsive", alt: "Искусственные водоемы") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'zag_vod', 'подробнее...' %></div>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_zag_eco.png", class: "img-responsive", alt: "Строительство экопарков") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'zag_eco', 'подробнее...' %></div>
      </div>
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_zag_el.png", class: "img-responsive", alt: "Интернет магазин") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'zag_el', 'подробнее...' %></div>
      </div>  
      <div class="col-md-4">
        <div class="primenenie-img">
          <%= image_tag("usage/text_zag_stroi.png", class: "img-responsive", alt: "Строителям") %>
        </div>
        <div class="podrobnee"><%= custom_url_by_code_link 'zag_stroi', 'подробнее...' %></div>
      </div>  
    </div>
  </div>
</div>