<% provide(:breadcrumb, "Главная / Страница заказа") %>
<div class="bgk_container cart">
	<h1 class="bgk_h1">Ваш заказ</h1>
	<div class="cat_link"><a href="/products">Вернуться в каталог</a></div>
	<% if @porder.porder_items.count == 0 %>
		<div>Уважаемый клиент! Вы можете оформить заказ по телефону (812) 648 50 95.</div>
	<% else %>
		<%= simple_form_for(@porder) do |f| %>
		<div class="subtitle">Выбранная продукция</div>
		<div class="porder_grid">
			<%= f.simple_fields_for :porder_items do |p| %>
			<div class="porder_grid-row">
				<%= render 'porder_item_fields', f: p %>
			</div>
			<% end %>
		</div>
		<div class="oformlenie">Оформление заказа</div>
		<div class="row">
			<div class="col-md-6">
				<%= f.input :company_name %>
				<%= f.input :person_name %>
				<%= f.input :position %>
			</div>
			<div class="col-md-6">
				<%= f.input :phone %>
				<%= f.input :email %>
				<%= f.input :comment, input_html: { rows: 1 } %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="hint">
					* необходимые поля для заполнения
				</div>
				<div class="form-group">
					<%= f.submit "Оформить заказ", class: "btn btn-primary"%>
				</div>
			</div>
		</div>
		<% end %>
	<% end %>
</div>
