<% provide(:breadcrumb, "Главная / Каталог") %>
<%= render 'modal_product_in_cart' %>
<div class="bgk_container products">
  <%#= image_tag("zakaz_btn.png", type: "button", class: "img-responsive", "data-toggle" => "modal", "data-target" => "#productInCart", alt: "заказать звонок") %>
<% @categories.each do |category| %>
  <% if category.products.count > 0 %>
    <div class="category-title_container hidden-xs">
      <div class="category-title"><%= category.name %></div>
      <div class="category-title_triangle"></div>
    </div>
  <% end %>
  <% category.products.each do |product| %>
    <div class="product_row">
      <% if authenticated? %>
        <div class="row">
          <div class="col-md-22">
            <div class="form-group">
              <a class="btn btn-default" href="/admin">В админку</a>
              <%= link_to "Просмотреть", product, class: "btn btn-default" %>
              <%= link_to "Редактировать", edit_product_path(product), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
      <%= render "product_row", product: product, porder_item: @porder_item %>
    </div>
  <% end %>
<% end %>
<% @products.each do |product| %>
  <div class="product_row">
    <% if authenticated? %>
      <div class="row">
        <div class="col-md-22">
          <div class="form-group">
            <a class="btn btn-default" href="/admin">В админку</a>
            <%= link_to "Просмотреть", product, class: "btn btn-default" %>
            <%= link_to "Редактировать", edit_product_path(product), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
    <%= render "product_row", product: product, porder_item: @porder_item %>
  </div>
<% end %>
</div>
