<li><%= link_to 'Партнеры', '#' %></li>
<li><%= link_to 'Условия сотрудничества', '#' %></li>
<li><%= link_to 'Доставка', '#' %></li>
<li><%= link_to 'Контакты', '#' %></li>
<li><%= link_to 'Разместить заказ', '#' %></li>
<li><%= link_to 'Каталог', '#' %></li>
<li><%= link_to 'Применение', '#' %></li>
<li><%= link_to 'Техподдержка', '#' %></li>
<li><%= link_to 'Пресс-центр', '#' %></li>
<li><%= link_to 'О компании', '#' %></li>