<li style="width: 107px;"><%= link_to 'КАТАЛОГ', '#' %></li>
<li style="width: 133px;"><%= link_to 'ПРИМЕНЕНИЕ', '#' %></li>
<li style="width: 150px;"><%= link_to 'ТЕХПОДДЕРЖКА', '#' %></li>
<li style="width: 131px;"><%= link_to 'ПРЕСС-ЦЕНТР', '#' %></li>
<li class='last' style="width: 133px;"><%= link_to 'О КОМПАНИИ', about_path %></li>