<li><%= link_to 'Партнеры', '#' %></li>
<li><%= link_to 'Условия сотрудничества', '#' %></li>
<li><%= link_to 'Доставка', '#' %></li>
<li><%= link_to 'Контакты', '#' %></li>
<li><%= link_to 'Разместить заказ', new_order_path %></li>
<li><%= link_to 'Каталог', '/products' %></li>
<li><%= link_to 'Применение', '#' %></li>
<li><%= link_to 'Техподдержка', '#' %></li>
<li><%= link_to 'Пресс-центр', '#' %></li>
<li><%= link_to 'О компании', about_path %></li>