<li style="width: 126px;"><%= link_to 'КАТАЛОГ', '#' %></li>
<li style="width: 161px;"><%= link_to 'ПРИМЕНЕНИЕ', '#' %></li>
<li style="width: 183px;"><%= link_to 'ТЕХПОДДЕРЖКА', '#' %></li>
<li style="width: 159px;"><%= link_to 'ПРЕСС-ЦЕНТР', '#' %></li>
<li class='last' style="width: 161px;"><%= link_to 'О КОМПАНИИ', about_path %></li>