<li><%= link_to 'ПАРТНЕРЫ', '#' %></li>
<li><%= link_to 'УСЛОВИЯ СОТРУДНИЧЕСТВА', '#' %></li>
<li><%= link_to 'ДОСТАВКА', '#' %></li>
<li><%= link_to 'КОНТАКТЫ', '#' %></li>
<li><%= link_to 'РАЗМЕСТИТЬ ЗАКАЗ', '#' %></li>