<li><%= link_to 'Партнеры', '#' %></li>
<li><%= link_to 'Условия сотрудничества', '/collaboration' %></li>
<li><%= link_to 'Доставка', '#' %></li>
<li><%= link_to 'Контакты', contacts_path %></li>
<li><%= link_to 'Разместить заказ', new_order_path %></li>
<li><%= link_to 'Каталог', '/products' %></li>
<li><%= link_to 'Применение', '/usage' %></li>
<li><%= link_to 'Техподдержка', '/tehnicheskaja-podderzhka-harakteristiki-geotekstil-dornit' %></li>
<li><%= link_to 'Пресс-центр', '/primenenie-geosinteticheskih-materialov' %></li>
<li><%= link_to 'О компании', about_path %></li>