<li><%= link_to 'партнеры', '#' %></li>
<li><%= link_to 'условия сотрудничества', '/collaboration' %></li>
<li><%= link_to 'доставка', '#' %></li>
<li><%= link_to 'контакты', contacts_path %></li>
<li><%= link_to 'разместить заказ', new_order_path %></li>