<li><%= link_to 'партнеры', '#' %></li>
<li><%= link_to 'условия сотрудничества', '#' %></li>
<li><%= link_to 'доставка', '#' %></li>
<li><%= link_to 'контакты', '#' %></li>
<li><%= link_to 'разместить заказ', '#' %></li>