<li><%= link_to 'КАТАЛОГ', '#' %></li>
<li><%= link_to 'ПРИМЕНЕНИЕ', '#' %></li>
<li><%= link_to 'ТЕХПОДДЕРЖКА', '#' %></li>
<li><%= link_to 'ПРЕСС-ЦЕНТР', '#' %></li>
<li class='last'><%= link_to 'О КОМПАНИИ', about_path %></li>