<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title><%= content_for?(:title) ? yield(:title) : t(:default_title) %></title>	
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t(:default_title) %>">
  <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : t(:default_title) %>">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main_container" class="container">
  <%= render 'layouts/navigation_top' %>
  <a href="/"><img src='/images/baner_header.jpg' class="img-responsive"%></a>
	<%= render 'layouts/navigation' %>
	<%= render 'layouts/messages' %>
	<%= yield %>
</div>
</body>
</html>
